*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  color: #384047;
}

.contentWrapper {
  max-width: 90%;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}

.videoWrapper, 
.transcriptWrapper {
  margin: 0 auto;
  display: block;
  width: 852px;
}

/***********************************
  Media Querys
***********************************/

@media (min-width: 786px) {
  
}
